.content {
  padding-top: 0;
}

.desc {
  min-height: 88.25vh;
}

.desc  th {
  vertical-align: top !important;
}

.event-table {
  width: 100%;
}

.event-table td {
  cursor: pointer;
}

td.cell-description {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  max-width: 0;
}

.navbar button {
  position: absolute;
  right: 20px;
  top: 5px;
}

body > .header .logo span {
  font-size: 13px;
  position: relative;
  bottom: 7px;
}

body > .header img.logo {
  width: 97px;
  height: 16px;
  margin: 0 auto;
  top: 8px;
}

.faq {
  width: 90%;
  margin: 5px;
  margin-bottom: 15px;
}

.time {
  display: inline-block;
  margin:10px 15px;
}

.sidebar .sidebar-menu > li > span {
  color: #eee;
  padding: 12px 5px 12px 15px;
  display: block;
}

.sub-menu {
  background: #EEF3F4;
  list-style: none;
  padding: 0;
  width: 100%;
  position: static;
  border-radius: 0;
  margin-top: 0;
  margin-bottom: 5px;
}

.sub-menu a {
  color: #777 !important;
  display: block;
  padding: 5px 0;
  padding-left: 32px !important;
}

#sortable header {
  cursor: pointer;
}

.sub-menu a:hover {
  background: #fff !important;
}

.normal-widget {
  height: 300px;
  overflow: auto;
}

.long-widget {
  height: 760px;
  overflow: auto;
}

/*.ui-sortable-placeholder {
  background: rgba(90, 90, 90, 0.1);
  border-radius: 5px;
  width: calc(-100px);
  visibility: visible !important;
}*/

.navbar-right {
  margin-right: 0;
}

.modal-event .modal-content{
  padding: 15px 25px;
  padding-top: 35px;
}

.modal-event .modal-content .close {
  position: absolute;
  top: 10px;
  right: 20px;
}

p.md-title {
  font-weight: 600;
}

span.md-info {
  font-weight: normal;
  padding-left: 5px;
}

@media (min-width : 992px) {

}

@media (min-width : 560px) {
  body > .header .logo span {
    position: absolute;
    top: 7px;
    left: 74px;
  }

  body > .header img.logo {
    position: absolute;
    left: 56px;
  }
}
